:root {
  --font-family-heading: Copperplate, "Copperplate Gothic Light", fantasy, Arial;
  --font-family-button: Arial, Helvetica, sans-serif;
}

img {
  height: 200px;
}

header {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

div {
  width: 75%;
  margin: 0 auto;
}

header h1 {
  font-size: 1.8em;
  color: #684a8b;
}

h1 {
  font-size: 1.5em;
  font-family: var(--font-family-heading);
  color: #556b2f;
  padding-left: 15px;
}

td,
th {
  font-family: var(--font-family-button);
  background-color: #E6E6FA;
  padding: 10px;
}

label {
  font-family: var(--font-family-button);
  vertical-align: top;
}

input,
select,
textarea {
  font-family: var(--font-family-button);
  width: auto;
  border: 1px solid #BAB86C;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
}

input[type="button"]:hover {
  font-weight: 600;
  transform: scale(1.2);
}

#shopping {
  background-color: #E6E6FA;
  border: 2px dotted #556b2f;
  padding: 6px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#items_table {
  background-color: #dde1d5;
  border: 2px dotted #556b2f;
  padding: 6px;
  margin-top: 12px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

p, #list {
  padding-left: 15px;
}